<aside class="sidebar">
  <div class="sidebar__brand">
    <div class="sidebar__logo">
      SF
    </div>

    <div>
      <strong>StockFlow</strong>
      <span>Management</span>
    </div>
  </div>

  <nav class="sidebar__nav">
    <a
      routerLink="/dashboard"
      routerLinkActive="is-active"
      class="sidebar__link"
    >
      Dashboard
    </a>

    <a
      routerLink="/products"
      routerLinkActive="is-active"
      class="sidebar__link"
    >
      Products
    </a>

    <a
      routerLink="/categories"
      routerLinkActive="is-active"
      class="sidebar__link"
    >
      Categories
    </a>

    <a
      routerLink="/customers"
      routerLinkActive="is-active"
      class="sidebar__link"
    >
      Customers
    </a>

    <a
      routerLink="/sales"
      routerLinkActive="is-active"
      class="sidebar__link"
    >
      Sales
    </a>

    <a
      routerLink="/inventory"
      routerLinkActive="is-active"
      class="sidebar__link"
    >
      Inventory
    </a>
  </nav>
</aside>